p {
    margin: 0 !important;
}

.imagen {
    width: 439px;
    height: 348px;
    object-fit: cover;
}

.top {
    margin-top: 21px;
}

.bisa-patcard {
    margin-top: 35px !important;
}

.link {
    color: #82ba3d;
}

.pl-8 {
    padding-left: 8%;
}

.abuelos {
    margin-top: 50px !important;
}

.card {
    background-color: transparent !important;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;

}

.bisa-mat {
    margin-top: 100px !important;
}

.m-maternas {
    margin-top: 84px !important;
}

.bisa-img {
    margin: 9%;
    width: 132px;
    height: 99px;
    margin-left: 55px;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.card-img-top {
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.m-padre .card-body .card-img-top {
    width: 311px !important;
    height: 244px !important;

}

.navbar {
    background: rgb(255, 255, 255);
}

.pos-l {
    margin-left: 150px;
}

.inline {
    display: inline-block;
}

.cbox {
    width: 190px;
}

.column {
    float: left;
    width: 33.33%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.marco {
    padding: 5px;
    width: 70%;
    margin: auto;
    border: #000000 1px solid;
    border-radius: 10px;
}

.bg-claro {
    background-color: #f7f7f7;
    margin-top: 21px !important;
}

.mb-250 {
    margin-bottom: 250px !important;
}

.bisa-pat {
    margin-top: 42px !important;
}


.m-padre {
    margin-top: 115px !important;
    width: 22rem;
    margin: auto;
}


.m-madre {
    margin-top: 150px !important;
}

.card {
    border: 0;
}

.quit {
    text-align: center;
    margin-bottom: 0px;
}

.abuelos-img {
    width: 250px;
    height: 184px;
}

.bisa {
    width: 389px;
    height: 115px;
    margin: auto;

}

.bisa>.card-body {
    padding: 0px !important;
}

.bisa-main {
    margin-top: 25px !important;
}

.mb-abuelo{
    margin-bottom: 150px !important;
}
@media all and (max-width: 1100px) {
.mb-250{
    margin-bottom: 174px !important;
}

    .m-padre .card-body .card-img-top {
        width: 244px !important;
        height: 178px !important;
    
    }

    .abuelos-top {
        margin-top: 82px !important;
    }

    .m-padre {
        width: 18rem !important;
        margin-top: 120px !important;
    }

    .imagen {
        width: 350px;
        height: 316px;
        object-fit: cover;
    }

    .abuelos {
        width: 100%;
        height: 10rem !important;
        margin-top: 57px !important;
        margin-left: 12px;
    }

    .abuelos-img {
        margin-left: -25px;
        width: 152px !important;
        height: 122px !important;
    }

    .m-maternas {
        margin-top: 77px !important;

    }


    .bisa {
        width: 272px;
        height: 98px;
        margin: auto;
        margin-left: -15px;
    }

.imagen{
    width: 283px;
    height: 235px;
}

    .bisa-mat {
        margin-top: 35px !important;
    }

    .bisa-img {
        width: 73%;
        height: 72px !important;
        object-fit: cover;
    }
.pl-8{
    padding-left: 13%;
}
    .navbar-toggler {
        font-size: 2.25rem !important;
    }

    .nav-link {
        font-size: 300% !important;
    }
}
