


p{
    margin: 0 !important;
}
.imagen {
    width: 439px;
    height: 348px;
    object-fit: cover;
}

.top {
    margin-top: 21px;
}

.link {
    color: #82ba3d;
}

.card{
    background-color: transparent !important;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;

}

.bisa-mat {
    margin-top: 100px !important;
}

.m-maternas {
    margin-top: 84px !important;
}

.bisa-img {
    margin: 9%;
    width: 132px;
    height: 99px;
    margin-left: 55px;
}

.pb-90{
padding-bottom: 90px !important;
}

.card-img-top {
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.m-padre .card-body .card-img-top {
    width: 320px !important;
    height: 241px !important;

}

.navbar {
    background: rgb(255, 255, 255);
}

.pos-l {
    margin-left: 150px;
}

.inline {
    display: inline-block;
}

.cbox {
    width: 190px;
}

.column {
    float: left;
    width: 33.33%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.marco {
    padding: 5px;
    width: 70%;
    margin: auto;
    border: #000000 1px solid;
    border-radius: 10px;
}

.bg-claro {
    background-color: #f7f7f7;
    margin-top: 21px !important;
}
.mb-250{
    margin-bottom: 250px !important;
}

.bisa-pat{
    margin-top: 42px !important;
}


.m-padre {
    margin-top: 93px !important;
    width: 22rem; 
    margin:auto;
}


.m-madre {
    margin-top: 150px !important;
}

.card {
    border: 0;
}

.quit {
    text-align: center;
    margin-bottom: 0px;
}

.abuelos-img {
    width: 250px;
    height: 184px;
}
.bisa {
    width: 389px;
    height: 115px;
    margin: auto;
    
}

.bisa > .card-body{
    padding:0px !important;
}
.bisa-main{
    margin-top: 25px !important;
}


@media all and (max-width: 1100px) {

    .abuelos-top {
        margin-top: 82px !important;
    }

    .m-padre {
        width: 18rem !important;
    }

    .imagen {
        width: 350px;
        height: 316px;
        object-fit: cover;
    }

    .abuelos {
        width: 94%;
        height: 10rem !important;
    }

    .abuelos-img {
        width: 150px !important;
        height: 90%;
    }

    .m-maternas {
        margin-top: 197px !important;

    }


    .bisa {
        width: 322px;
        height: 121px;
        margin: auto;
    }



    .bisa-mat {
        margin-top: 50px !important;
    }

    .bisa-img {
        width: 80%;
        /* height: 80px; */
        margin: 18% !important;
        object-fit: cover;
    }

    .navbar-toggler {
        font-size: 2.25rem !important;
    }

    .nav-link {
        font-size: 300% !important;
    }
}
