html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}


.imagen {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.link {
    color: #82ba3d;
}

.non-border {
    border: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.4);
}

.up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}


.table-fixed tbody {
    height: 250px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}


footer {
    background-color: #343A40;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 45px;
    padding-top: 25px;
}



.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead>tr>th {
    float: left;
    position: relative;
}

#card-search {
    margin-bottom: 120px !important;

}

.card-padre {
    border: 0;
}

@media screen and (max-width: 640px) {
    .up {
        width: 90%;
        top: 60%;
    }
}

@media screen and (max-width: 780px) {
    #carouselExampleIndicators {
        margin-bottom: 70px;
    }


}

@media (min-width: 320px) and (max-width: 580px) {
    .card-img-top {
        width: 30vh !important;
        height: 28vh !important;
    }

    .carousel-item {
        height: 0px !important;
        min-height: 279px !important;
    }
}

.table-row {
    cursor: pointer;
}


.card-img-top {
    width: 300px;
    height: 300px;
}


.carousel-item {
    height: 85.4vh;
    min-height: 350px;
    /* background: no-repeat center center scroll; */
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    background-size: 100% 115%;
}


.img-top {
    margin-top: 0rem;

}

.navbar {
    background: rgba(255, 255, 255, 0.4);
}

.center-ul {
    display: flex;
    justify-content: space-around;
}

.center-div {
    margin: 0 auto;
}


.link-active {
    background-color: #82ba3d;
    color: #FFF !important;
}
