html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }

.imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.link {
    color: #82ba3d;
}

.img-top {
    margin-top: 1rem;

}


.card {
    border: none;
}

.pt-5 {
    padding-top: 30px;
}

.principal {
    margin-top: 21px;
}

.col2>.card2>a>.card-img {
    width: 320px !important;
    height: 215px !important;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

.col4>.card2>.size>.card-img2 {
    width: 262px;
    height: 192px;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

.col8 {
    width: 25%;
}

.col8>.card2>.size>.card-img2 {
    width: 145px;
    height: 112px;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


.col16>.mini-card>.size>.card-img2 {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.card-img2 {
    width: 90%;
}


.col16>.mini-card>.card-img2 {
    width: 68px !important;
    height: 60px !important;
}

.quit {
    text-align: center;
    margin-bottom: 0px;
}

.card2 {
    display: inline-block;
    vertical-align: top;
}

.col4>.card2 {
    width: 18rem !important;
}

.container-fluid {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.col2 {
    float: left;
    width: 50%;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.col4 {
    float: left;
    width: 25%;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.b-abuelos-m {
    width: 50% !important;
    padding-left: 5px;
    padding-right: 5px;
}

.b-abuelos-p {
    width: 50% !important;
    padding-left: 5px;
    padding-right: 5px;
}

.b-abuelos-p>.col8 {
    float: left;
    padding: 2px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}


.b-abuelos-m>.col8 {
    float: left;
    padding: 2px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.t-paternos {
    width: 50%;
    padding-right: 7px;
    padding-left: 7px;
}

.t-paternos .col16 {
    float: left;
    width: 12.5%;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.t-maternos {
    width: 50%;
    padding-right: 7px;
    padding-left: 7px;
}

.t-maternos .col16 {
    float: left;
    width: 12.5%;

    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

.col4>.car2 {
    width: 14rem;
}

.col8>.car2 {
    width: 8rem;
}

.card {
    background-color: transparent !important;
}

footer {
    background-color: #343A40;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 45px;
    padding-top: 25px;
  }
  .t-paternos {
    margin-bottom: 60px;
  }


@media all and (max-width: 1100px) {
    .t-paternos {
        margin-bottom: 0px;
      }

    .container-fluid {
        height:100vh;
    }

    .card2 {
        width: 18rem !important;
    }

    .card-img {
        width: 268px;
        height: 217px;
    }

    .col4>.card2>.card-img2 {
        width: 198px !important;
        height: 155px !important;

    }

    .col16>.mini-card>.size>.card-img2 {
        width: 53px !important;
        height: 47px !important;
    }

    .col4>.card2>.size>.card-img2 {
        width: 203px;
        height: 162px;
    }

    .col8>.card2>.size>.card-img2 {
        width: 104px;
        height: 93px;
    }

    .col4>.card2 {
        width: 14rem !important;
    }

    .col8>.card2 {
        width: 7rem !important;
    }

    .mini-card {
        width: 0rem !important;
    }
}
